html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'customFont';
    src: url("/fonts/Poppins-Bold.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'customFont2';
    src: url("/fonts/Poppins-Light.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'customFont4';
    src: url("/fonts/Italianno-Regular.ttf");
    font-style: normal;
    font-display: block;
}


/* Css common for the body tag  */

body {
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/backgroundImage1.webp");
    background-size: contain;
}


/* CSS for the side navigation pannel for the moile view  */

.sidenav {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    grid-area: navBar;
    position: absolute;
    top: 72px;
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}


/* CSS for the text inside the mobile navigation pannel  */

.sidenav a {
    padding: 14px 8px 14px 8px;
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: customFont4;
    font-weight: bolder;
    white-space: nowrap;
}


/* CSS on hover over the text inside the navigation pannel */

.sidenav a:hover {
    color: #37aa35;
    text-decoration: underline;
}


/* CSS for the header container  */

.container {
    top: 0;
    position: sticky;
    width: auto;
    z-index: 100;
}


/* This is the CSS for the mobile navigation bar itself  */

.navigation {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px #16650A solid;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 70px auto 70px;
    grid-template-areas: 'cartIcon logo burgerIcon';
}


/* CSS for the mobile view logo  */

.websitelogo1,
.websitelogo2 {
    grid-area: logo;
    width: 12em;
    height: auto;
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
    text-decoration: none;
    text-align: center;
}


/* CSS for the desktop view is currently hidden */

.websitelogo2 {
    display: none;
}


/* CSS for the burger icon  */

.option {
    grid-area: burgerIcon;
    font-size: 1.5em;
    cursor: pointer;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
}


/* For the body content */

.content {
    /* background-image: url(../images/whiteBackground.jpg); */
    width: auto;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    padding-top: 4em;
}


/* THe shopping button (ADD TO CART BUTTON) for the desktop view is also currently hidden from the user */

.shoppingButton {
    display: none;
}


/* CSS for the cart icon in the mobile view  */

.cart2,
.cart {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    border: 2px black solid;
    border-radius: 20px;
    display: block;
    grid-area: cartIcon;
    width: 1.5em;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 5px 4px 2px;
}


/* CSS for the container that holds the cart icon  */

.mobileShoppingButton {
    margin-top: auto;
    margin-bottom: auto;
}


/* CSS for the topic inside the topic container  */

.topic2 {
    text-align: center;
    font-size: 2.7em;
    font-weight: 900;
    font-family: customFont4;
    color: black;
    margin: auto auto 0.4em auto;
    padding: 8px 15px 8px 15px;
    line-height: 1.1;
}

.arrow_Container {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 12em;
    transform: translate(-50%, -50%);
}

.leftalign,
.teaTypesContent {
    font-family: customFont2;
    line-height: 2.3;
    margin-left: 18px;
    margin-right: 18px;
    text-align: center;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionContainer img {
    width: 100%;
    max-width: 400px;
    padding-top: 1.3em;
    /* order:1; */
}

.leftalign {
    text-align: center;
    max-width: 600px;
}

.leftAlignText,
.teaTypesContent {
    font-size: 14.4px;
    text-align: left;
    line-height: 2.3;
}

.leftAlignText li,
.teaTypesContent li {
    font-size: 0.9em;
    list-style: unset;
    list-style-position: inside;
    line-height: 2.3;
    margin-top: 1em;
}

.leftAlignText ol,
.teaTypesContent ol {
    padding-left: 0px;
}

.teaTypesContent ol {
    list-style: none;
    list-style-type: none;
}

.teaTypesContent li {
    padding-left: 12px;
}

.TeaTypesContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.5em 1.5em 0.5em;
    background-color: white;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.TeaTypesContainer img {
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.1);
    border: 10px white solid;
    border-bottom: 30px white solid;
}

@media screen and (min-width:1200px) {
    .teaTypesContent ol {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.1);
        padding-bottom: 1em;
    }
    .TeaTypesContainer {
        padding: 1.5em 3em 1.5em 2.5em;
        max-width: 460px;
    }
    .TeaTypesContainer img {
        max-height: 300px;
        margin: 0;
    }
    .teaTypesContent li {
        padding-left: unset;
    }
}

.TeaTypesContainer p {
    text-align: center;
    margin-top: 0;
}

.TeaTypesContainer div {
    margin-bottom: 1em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.footerContainer {
    background-color: rgba(221, 221, 221, 0.4);
}

.usefulLinks,
.footerInfo,
.socialMedia,
.footerAboutUs,
.footerEnding {
    font-family: customFont2;
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0.6em;
    margin-right: 0.6em;
    text-align: center;
}

.usefulLinks {
    grid-area: footerLinks;
}

.footerInfo {
    grid-area: footerInformation;
}

.footerEnding {
    margin: unset;
    background-color: rgba(0, 0, 0, 1);
}

.footerEnding p {
    padding-top: 1em;
    padding-bottom: 0.6em;
    font-size: 0.7em;
    color: white;
}

.footerAboutUs {
    justify-content: center;
    align-items: center;
    grid-area: footerDetails;
}

.footerAboutUs img {
    height: 4em;
    margin-top: 2em;
}

.footerAboutUs li,
.footerEnding p {
    list-style: none;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.footerAboutUs li {
    line-height: 1.7;
    font-size: 0.8em;
}

.socialMedia {
    flex-direction: row;
    justify-content: center;
    grid-area: footerSocial;
    height: 3em;
}

.socialMedia img {
    width: 2.2em;
    transition: 0.3s;
    transition-timing-function: linear;
}

.socialMedia img:hover {
    width: 2.4em;
    transition: 0.3s;
}

.socialMedia li {
    list-style: none;
    padding: 0.3em;
}

.usefulLinks li:nth-child(6) {
    border: unset;
}

.usefulLinks h3,
.footerInfo h3 {
    font-size: 1em;
}

.usefulLinks li,
.footerInfo li {
    line-height: 2;
    font-size: 0.7em;
    text-align: center;
    border-bottom: 1px solid rgba(18, 105, 0, 0.2);
    list-style-type: none;
    list-style: none;
    padding: 0.8em;
}

.usefulLinks a:hover {
    color: green;
    transition: 0.3s;
}

.usefulLinks a {
    text-decoration: none;
    color: black;
}

.footerItem1:before {
    background: url("/img/Maps-Pin-Place-icon.png") no-repeat 0 0;
}

.footerItem2:before {
    background: url("/img/Phone-icon.png") no-repeat 0 0;
}

.footerItem3:before {
    background: url("/img/Message-Bubble-icon.png") no-repeat 0 0;
}

.footerItem1:before,
.footerItem2:before,
.footerItem3:before {
    display: block;
    content: "";
    height: 32px;
    width: 32px;
    margin-right: 5px;
    background-size: 32px 32px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

.teaHouseLocation {
    display: none;
}

.footerInfo li:nth-child(1),
.usefulLinks li:nth-child(1) {
    color: black;
    font-size: 1em;
    border-bottom: none;
    font-weight: 500;
}

@media screen and (min-width:750px) {
    .footerInfo li:nth-child(1),
    .usefulLinks li:nth-child(1) {
        text-align: left;
        padding-left: 7px;
    }
    .usefulLinks li,
    .socialMedia li,
    .footerAboutUs li,
    .usefulLinks,
    .footerInfo,
    .socialMedia,
    .footerAboutUs,
    .footerEnding {
        text-align: left;
    }
    .footerInfo li:nth-child(3),
    .footerInfo li:nth-child(4) {
        text-align: left;
    }
    .footerInfo li:nth-child(2) {
        text-align: left;
        text-align-last: right;
    }
    .usefulLinks {
        padding-left: 10%;
    }
    .usefulLinks h3,
    .footerInfo h3 {
        padding: 0.5em;
    }
    .footerItem1:before,
    .footerItem2:before,
    .footerItem3:before {
        display: inline-block;
        vertical-align: -60%;
        padding: 0 3px 0 0;
    }
    .footerAboutUs {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footerBox {
        margin-left: 5%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: auto 300px 200px;
        grid-template-rows: auto auto;
        grid-template-areas: 'footerDetails footerInformation footerLinks' 'footerDetails footerSocial footerLinks';
    }
}

@media screen and (min-width:550px) {
    .leftalign,
    .teaTypesContent {
        font-size: 1rem;
    }
}

@media screen and (max-width:550px) {
    .leftalign {
        font-size: 0.9rem;
    }
}

@media screen and (min-width:1000px) {
    .leftalign,
    .teaTypesContent {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }
}


/* Media Query for Galaxy Fold and below */

@media screen and (max-width:310px) {
    .navigation {
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        grid-template-areas: 'logo burgerIcon';
    }
    .mobileShoppingButton {
        display: none;
    }
}


/* CSS for the slideshow button */

.typesOfTeaButton,
.manufacturersButton {
    grid-area: slideshowbtn;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: customFont;
    color: white;
    background-color: #0f763f;
    cursor: pointer;
    border: none;
    padding: 2% 3% 2% 3%;
    transition: 0.3s;
}

.manufacturersButton {
    max-width: 150px;
    padding: 0.6em 1.2em 0.6em 1.2em;
    margin-bottom: 1.7em;
    margin-left: 0.9em;
    box-shadow: 0 2px 15px -6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:910px) {
    .manufacturersButton {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.typesOfTeaButton {
    font-family: customFont2;
    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
    margin-bottom: 1.5em;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px white solid;
    font-size: 0.9em;
    padding: 0.9em 1.2em 0.9em 1.2em;
    width: auto;
}


/* Slideshow button on hover */

.slideshowButton:hover,
.typesOfTeaButton:hover,
.manufacturersButton:hover {
    background-color: #0e5e33;
}

@media only screen and (min-width:500px) {
    .typesOfTeaButton {
        font-size: 1em;
        padding-left: 2em;
        padding-right: 2em;
        margin-left: 2.1em;
        margin-right: 1.4em;
    }
}


/* 
                                               Media Query for the Desktop Site                                                */

@media screen and (min-width: 1200px) {
    /* CSS for the Header Container, changes to match the desktop  */
    .container {
        top: 0;
        position: sticky;
        display: block;
        width: 1200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    /* CSS for the navigation bar itself */
    #navigationbar {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        border-bottom: 1px #37aa35 solid;
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
        align-items: center;
    }
    /* CSS for the navigation pannel for the desktop verison  */
    .sidenav {
        box-shadow: none;
        margin-left: 5px;
        grid-area: desktopNav;
        overflow-x: visible;
        transition: unset;
        position: sticky;
        display: inline-block;
        width: auto;
        left: 0;
        opacity: unset;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 2em;
        background-color: white;
    }
    /* CSS for the changes to the text inside the navigatio pannel */
    .sidenav a {
        position: sticky;
        display: inline;
        border-radius: 20px;
        padding: 0.2em 0.7em 0.1em 0.7em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 1.6em;
        color: white;
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    /* CSS for the changes to the text on hover */
    .sidenav a:hover {
        transition: 0.3s;
        text-decoration: unset;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
    }
    /* CSS for the website logo  */
    .websitelogo2 {
        display: block;
        left: 0;
        width: 14.2em;
        grid-area: logo2;
        margin-top: auto;
    }
    /* Slight changes to the container that holds the website logo */
    .logo2 {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
    /* The burger icon is hidden */
    .option {
        display: none;
    }
    /* The Mobile site desktop navigation is hidden  */
    .navigation {
        display: none;
    }
    /* CSS for the cart icon for desktop  */
    .cart {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
        display: block;
        width: 1.4em;
        margin-top: auto;
    }
    /* CSS for the text inside the shopping button  */
    .shoppingText {
        grid-area: cartText;
        display: block;
        margin-bottom: auto;
        margin-top: 15px;
        margin-left: 0.4em;
        padding: 0;
        font-family: customFont;
        text-decoration: none;
        color: black;
        font-size: .97em;
    }
    /* CSS for the shopping button  */
    .shoppingButton {
        display: none;
    }
    /* CSS for the navigation on hover  */
    .shoppingButton:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
    .content {
        width: 1200px;
    }
}