<header class="container">
  <div class="navigation">
    <a class="mobileShoppingButton" href="buynow" ><img class="cart2" src="img/cart.png" alt="shoppingCart"></a>
    <a class="logo1" href="/"><img class="websitelogo1" src="img/websitelogo.png" alt="logo"></a>
    <span class="option" onclick="navigationOnTrigger()">&#9776; </span>
  </div>
  <div id="navigationbar">
    <a class="logo2" href="/"><img class="websitelogo2" src="img/websitelogo.png" alt="logo"></a>
    <div id="teaHouseSlideshow" class="sidenav">
      <a href="/"><span> HOME </span></a>
      <a href="typesoftea"> <span> TYPES OF TEA </span></a>
      <a href="/teamanufacturers"> <span> TEA MANUFACTURERS </span></a>
      <a href="/buynow"> <span > BUY NOW </span></a>
      <a href="/contactus"> <span> CONTACT US </span></a>
    </div>
    <a href="buynow" class="shoppingButton">
      <img class="cart" src="img/cart.png" alt="shoppingCart">
      <div class="shoppingText"> BUY </div>
    </a>
  </div>
</header>