<div class="content">

    <h1 class="heading2"> Contact Us </h1>

    <div class="typesContainer">
      <img class="teaTypes" src="img/contactUsImg.webp" alt="typesofteaimg">
      <div class="buttonHolder">
        <button class="typesOfTeaButton" onclick="openURI('/')" >Back To Home</button>
        <!-- <button class="typesOfTeaButton" onclick="scrollToBenefitsofTea()">Buy Now</button> -->
        <!-- <div class="arrow_Container" onclick="scrollToTypesofTea()">
          <span></span>
          <span></span>
          <span></span>
        </div> -->
      </div>
    </div>
    <br><br>
    <div class="topicContainer">
        <div class="hrLine"> </div>
        <div class="topic2">About Tea House</div>
        <div class="hrLine2"> </div>
      </div>
    <p class="leftalign"> Tea House has a large collection of Tea types from which you can order. We provide high quality Tea supplied from the best Tea Manufactures across Sri-Lanka. We are pioneers in marketing Tea products island wide. Tea House has a huge collection of Tea, offering different flavours of Tea to suit your preffered choices. Visit our Types of Tea Page to browse our collection.</p>
    <br>

    <div class="topicContainer">
        <div class="hrLine"> </div>
        <div class="topic2">Find Us</div>
        <div class="hrLine2"> </div>
      </div>
    <p class="leftalign">Our office is located at <b>55 1/1 Castle Street, Mutwal, Colombo 15, 01500 Sri Lanka.</b> We offer home delivery 24/7, and we safely package your favourite Tea and we comply to Co-vid Health Guidelines. Contact 0777112485 (Kavinkumar) for any business enquires. Here is the location of out office, if you wish to have any enquires feel free to contact us on the provided mobile number or drop us an email at officialteahouse@gmail.com </p>
      <br>
    <iframe class="teaHouseLocation" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51978.337990929904!2d79.8297302582967!3d6.953623476084763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2588bb750ef55%3A0xc3a14cd6a2c42e5!2sModara%2C%20Colombo!5e0!3m2!1sen!2slk!4v1604831426624!5m2!1sen!2slk"></iframe>

    <br><br>
    <br><br>
    {{> footer}}
</div>