    <div class="content">
        
        <p class="heading4"> Tea Manufacturers in Sri Lanka </p>
        
        <div class="typesContainer"> 
            <img class="teaTypes" src="img/teamanufacturers.webp" alt="manufacturerimg"> 
            <!-- <img class="teaTypes" src="https://www.pureceylontea.com/wp-content/uploads/2018/12/banner-3.jpg">  -->
            <div class = "buttonHolder">
                <button class="typesOfTeaButton" onclick="openURI('/teaFactsCssDesign1')">CSS 1</button>
                <button class="typesOfTeaButton" onclick="openURI('/teaFactsCssDesign2')">CSS 2</button>
                <div class="arrow_Container" onclick="scrollToTypesofTea()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <br><br><br>
        <h1 class="topic2"> Ceylon's Tea Manufacturers</h1>
        <p class="leftalign"> 
          There are various Tea Manufacturers in Sri-Lanka and most of them export Tea to other countries as well. Tea exportation has been happening in Sri Lanka for many years and it is considered as one of the main sources of income when it comes to total export income. 
          Since Sri Lanka has a well-known reputation for their finest Tea, some of the foreign countries prefer Sri Lankan Tea compared to the other options. There are many different tea manufacturers in Sri Lanka and a few of the well-known Manufacturers are given below Given below are some of the known Tea manufacturers worldwide: 
        </p>
        <br>

        <div class="homeImageContainer">
          <img class="homeImages" src="img/abtImage3.webp" alt="homepageimg">
          <div class="homeImageTextContainer">
            <div class="homeText1">
              There are many Tea Manufactures in Sri-Lanka. Choose from a list of the best Tea Manufacturers in Sri Lanka
              <br>
              <button class="homeButton" onclick="scrollToTopManufacturers('test')">View Details</button>
            </div>
            <div class="homeText2">
              <ul class="customizedBullets">
                <li>Dilmah</li>
                <li>Jones</li>
                <li>George Steuart</li>
                <li>Ceylon Tea </li>
                <li>Empire teas</li>
                <li>Malwatte </li>
                <li>Maliban Tea</li>
              </ul>
            </div>
          </div>
        </div>
        <br><br>

        <div class="topicContainer">
          <div class="hrLine"> </div>
          <div class="topic2">Well Known Tea Manufacturers</div>
          <div class="hrLine2"> </div>
        </div>
        <!-- <h1 class="topic2"> Well Known Tea Manufacturers</h1> -->
        <div class="leftAlignText">
            <ol type="1">
      
              <li><b class="boldText"> Dilmah Tea: </b>
                <div class="makingProcessContainer">
                  <div>
                    <p class="processDescription1">
                      Dilmah was established in the year 1988 after the founder named the company after their sons Dilhan and Malik. Dilmah Tea was also exported to over 100 countries worldwide and is still continuing to grow their success rate.  Dilmah is one of the first company to produce tea in Sri-Lanka. It a well reputed company that has been successfully operating for years.
                      <br><br>
                      Their head office is located at Peliyagoda, and they have their Tea Plantation in the central province of Sri Lanka. Dilmah has decided to vertically integrate their organization and thier main source of income comes from the Kahawatte Plantations where they produce 25 million kg of Tea and 2.5 million kg of rubber every year.
                      <br>
                    </p>
                      <button class="manufacturersButton" onclick="openNewTab('https://www.dilmahtea.com/')">Visit Page</button>
                  </div>
                  <img class="manufacImage" src="img/dilmahTea.webp" alt="imageonmanufacturing">
                </div>
              </li>
      
              <li><b class="boldText"> George Steuart </b>
                <div class="makingProcessContainer">
                  <div>
                    <p class="processDescription1">
                      George Steuart was established in the year 1835 by the 2 people, James Steuart and George Steuart. The orginally arrived from London to Sri Lanka when they realized that the soil in Sri Lanka had a lot of potential to produce coffee. Within the period 1800s, both the brothers mainly focused on selling coffee. 
                      <br><br>
                      At the year of 1870 they successfully exported coffee to other parts of the world. Gradually they wanted to diversify so they decided to produce Tea as well. Following the incorporation of the company in the year 1954,  the company has been successful in selling variety of Tea Types all across the world.                      
                      <br>
                    </p>
                      <button class="manufacturersButton" onclick="openNewTab('https://georgesteuart.lk/')">Visit Page</button>
                  </div>
                  <img src="img/georgerSteuart.webp" alt="manufacturer2" >
                </div>
              </li>
      
              <li><b class="boldText"> Empire Teas </b>
                <div class="makingProcessContainer">
                  <div>
                    <p class="processDescription1">
                      Empire Teas is one of the Tea exporters in Sri Lanka. On average around 14 million kg of Tea is produced and they are also exported to various countries around the world. The company has expanded their operations in various other countries like Middle East, Russia, USA and many more. In order for them to coop with the culture in other countries, Empire Teas goes under different brands; Mervin, Regalo, Hyson, etc.
                      Apart from selling high quality tea, they also have diversified, and they produce Labels for private companies as well. Their operations are worldwide and they serve to satisfying their customers with good quality labels.
                    </p>
                      <button class="manufacturersButton" onclick="openNewTab('http://www.empireteas.com/')">Visit Page</button>
                  </div>
                  <img src="img/empireTeas.webp" alt="manufacturer3">
                </div>
              </li>
            </ol>
          </div>

        <br><br>
        {{> footer}}
        </div>