<div class="content">

    <h1 class="heading2"> Types of Tea in Sri Lanka </h1>

    <div class="typesContainer">
      <img class="teaTypes" src="img/typesofteamain.webp" alt="typesofteaimg">
      <div class="buttonHolder">
        <button class="typesOfTeaButton" onclick="scrollToTypesofTea()">Types of Tea</button>
        <button class="typesOfTeaButton" onclick="scrollToBenefitsofTea()">Benefits of Tea</button>
        <div class="arrow_Container" onclick="scrollToTypesofTea()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <br><br>
    <h1 class="topic2"> Ceylon's Finest Tea</h1>
    <p class="leftalign"> There area many different varieties of Tea available in Sri Lanka. Each Tea type has a unique
      flavour to it and each Tea type offers different health benefits. All the different flavours of Tea typically come
      from the same plant but it is the soil type and the climate that provides each plant a unique taste. Amongst all
      of the wonderful flavours Sri Lankans mostly enjoy Black Tea with strong Milk and Sugar. Here are some of the Tea
      Types that Sri Lanka has to offer:</p>
    <br>

    <div class="homeImageContainer">
      <img class="homeImages" src="img/homePageImg2.webp" alt="homepageimg">
      <div class="homeImageTextContainer">
        <div class="homeText1">
          There are many different Tea Types available in Sri-Lanka. Here is a list of the best Tea Types in Sri Lanka
          <br>
        </div>
        <div class="homeText2">
          <ul class="customizedBullets">
            <li>Black Tea</li>
            <li>Green Tea</li>
            <li>White Tea</li>
            <li>Yellow Tea</li>
            <li>Oolong Tea </li>
            <li>Silver Tea</li>
            <li>Herbal Tea</li>
          </ul>
        </div>
      </div>
    </div>
    <br><br>
    <div class="teaTypesContent">
      <ol>
        <li>
          <div class="TeaTypesContainer">
            <div>
              <h2 class="topic2">Black Tea</h2>
              <p>
                Originally Black Tea was only made in China. As years passed China started exporting Black Tea to the
                Eastern society and gradually the methods were widely spread all across the world. Slowly Black Tea
                became the favorite Tea in many parts of the world.
                The reason for this is because Black Tea’s taste remains fresh the longest compared to other Teas.
                Sri-Lanka is also very well known for its Black Tea and is also considered as one of the best flavored
                Black Tea in the world.
              </p>
            </div>
            <img class="processImage1" src="img/BlackTea.webp" alt="blacktea">
          </div>
        </li>

        <li>
          <div class="TeaTypesContainer">
            <div>
              <h2 class="topic2">Green Tea</h2>
              <p>
                Green Tea was the discovered around the 2737 BC and it was the first Tea that was discovered.  Although Green Tea was initially discovered in China, the same roots are available in most of the South Asian Countries. Unlike other Tea types, the Green Tea is known for its extremely refreshing taste and thus this Tea is remembered as one of the important Tea discoveries.
              </p>
            </div>
            <img class="processImage1" src="img/GreenTea2.webp" alt="greentea">
          </div>
        </li>

        <li>
          <div class="TeaTypesContainer">
            <div>
              <h2 class="topic2">White Tea</h2>
              <p>
                White Tea was discovered in the year 1857. Unlike other Tea Leaves, the buds of the White Tea are considerably larger, and they are well known for their sweet smell. White Tea is also considered to be a health beverage because it contains a large amount of Antioxidants that helps the human body in repairing damaged cells.
              </p>
            </div>
            <img class="processImage1" src="img/WhiteTea.webp" alt="whitetea">
          </div>
        </li>
      </ol>
    </div>
    <br>
    <div class="Benefits_Table_Container">
      <div class="topicContainer">
        <div class="hrLine"> </div>
        <div class="topic2">Benefits of Tea</div>
        <div class="hrLine2"> </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Tea Type</th>
            <th>Benefits</th>
            <th>Average Price</th>
          </tr>
        </thead>

        <tbody class="leftalign">
          <tr>
            <td>Black Tea</td>
            <td data-heading="Benefit">
              Black Tea helps blood circulation and is considered good for the heart. It helps
              reduce Cholestterol and thereby reduces the blood pressure and stimulates the ability to think clearly.
            </td>
            <td data-heading="Price">200g - Rs.800</td>
          </tr>

          <tr>
            <td>Green Tea</td>
            <td data-heading="Benefit">
              Green Tea has properties that would help improve the blood flow on a person’s body. It would also help improve high blood pressure and thereby it would reduce the risks of heart failure.
            </td>
            <td data-heading="Price">200g - Rs.450</td>
          </tr>

          <tr>
            <td>White Tea</td>
            <td data-heading=Benefit>
              White Tea unlike most of the other Teas, has properties that would help people reduce weight. It also contains ani-bacterial properties that can help people maintain a healthy dental hygiene. 
            </td>
            <td data-heading="Price">200g - Rs.1600</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              Key Facts about the different types of Tea
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <br><br>
    {{> footer}}
</div>